@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;300;500&display=swap');

* {
    background-color: #2f3536;
    color: white;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

button {
    cursor: pointer;
}

.content {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

/* just for visibility for right now */
.content > *, .main-div > * {
    border: 1px solid white;
}

.main-div {
    height: 600px;
}

.top-ribbon {
    padding: 10px;
}

/* main area (task list) */

.task-list-item {
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
}

.task-list-item > * {
    background-color: inherit;
}

.task-list-item:hover {
    background-color: darkgray;
    cursor: pointer;
}

/* Sidebar styles */
.sidebar {
    display: grid;
    grid-template-rows: 8fr 1fr;
}

.project-tabs { /*container for project tabs*/
    display: flex;
    flex-direction: column;
    margin: 1em;
}

.project-tab { /*the tabs themselves*/
    padding: 0.5em;
}

.project-tab:hover {
    cursor: pointer;
    background-color: darkgray;
}

.action-buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-top: 1px solid white;
}

.action-buttons > button {
    padding: 0.5em;
    border: none;
}

/* task modal styles */

.task-modal-background {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4);
}

.task-modal {
    background-color: #fefefe;
    margin: 7% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
}

.task-modal > * {
    background-color: #fefefe;
}

.task-modal-header {
    grid-column: 1 / 3;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.task-modal-header > * {
    background-color: #fefefe;
    color: black;
    padding: 0.5em;
    margin: 1em;
}

.task-title {
    width: 75%;
    border: none;
    font-size: larger;
}

.close-button {
    border: none;
    align-self: flex-start;
}

.task-main-content {
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    justify-content: flex-start;
}

.task-main-content > * {
    background-color: #fefefe;
    color: black;
    padding: 0.5em;
    margin: 1em;
}

.task-description {
    height: 10em;
    border-radius: 10px;
}

.status-toggle {
    border: 1px solid black;
    align-self: flex-start;
    padding: 5px;
    margin: 0 2em;
    height: 25px;
    width: 25px;
}

.status-toggle:hover {
    cursor: pointer;
}

.task-sidebar {
    background-color: #fefefe;
    color: black;
    border-color: 1px solid red;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.task-sidebar > * {
    background-color: #fefefe;
    color: black;
    padding: 0.5em;
    margin: 1em;
}

.task-modal-footer {
    display: flex;
    flex-direction: column;
    grid-column: 1 / 3;
}

.task-modal-footer > * {
    background-color: #fefefe;
    color: black;
    padding: 0.5em;
    margin: 1em;
}

.ok-button {
    border: none;
    align-self: flex-end;
    background-color: #5dbea3;
    border-radius: 5px;
    padding: 0.7em 1em;
    width: 10em;

}

.ok-button:hover {
    box-shadow: 2px 2px 5px 0px #636363;
}

/* new project modal */

.project-modal-background {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4);
}

.new-project-modal {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 12em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-modal-header {
    display: flex;
    background-color: #fefefe;
    color: black;
    width: 100%;
}

.project-close-button {
    background-color: white;
    color: black;
    border: none;
}

.project-title {
    background-color: #fefefe;
    border-bottom-color: #2f3536;
    border-top: none;
    border-right: none;
    border-left: none;
    padding: 0.5em;
    color: black;
}